<div class="position-relative overflow-hidden p-4 text-center bg-light">
  <div class="col-md-12 p-lg-12 mx-auto my-12">
    <h1>Recomendaciones</h1>
    <p>¿Sin ideas de qué ver?</p>
    <a class="btn btn-outline-secondary" id="recommendButton">Recomendar algo</a>
  </div>
</div>

<div id="recommendForm" class="d-none row col-sm-4 mx-auto">
  <div class="col-sm">
    <div class="card bg-light m-3 form-group">
      <form action="/recommendations/create" method="POST">
        <div class="card-body">
          <input class="card-title form-control" placeholder="Título" type="text" id="title" name="title" /><br />
          <textarea class="form-control" class="card-text" placeholder="Descripción" id="description" name="description" ></textarea><br />
        </div>
        <div class="card-footer">
          <input class="form-control mb-1" type="text" placeholder="Autor" id="author" name="author" />
          <input class="form-control btn btn-outline-primary" type="submit" value="Recomendar" />
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row col-sm-9 mx-auto">
  <% recommendations.forEach(recommendation => { %>
  <div class="col-sm-6">
    <div class="card bg-light m-3">
      <div class="card-body">
        <h5 class="card-title"><%= recommendation.title %></h5>
        <p class="card-text"><%= recommendation.description %></p>
      </div>
      <div class="card-footer text-muted">
        <form action="/recommendations/delete" method="POST">
          <span><button class="btn float-left" type="submit"><i class="float-left bi bi-trash-fill"></i></button><p class="float-right"><%= recommendation.author %></p></span>
          <input hidden type="textbox" name="id" value="<%= recommendation.id %>" readonly="readonly" />
        </form>
      </div>
    </div>
  </div>
  <% }) %>
</div>
